* {
    box-sizing:         border-box
}

ul.visualizer,
li.visualizer_node {
    list-style:         none;
    margin:             0px;
    padding:            0px;
    pointer-events:     none;
}

.visualizer_node {
    overflow:           hidden;
    background-color:   rgba(0, 38, 95, .33);
}

/*  Need to think of a better solution to this.  We want them to be pinned in
 *  only one dimension.  position: fixed pins them in both.                  */
.rows_visualizer {
    position:           fixed;
    left:               0px;
}

.rows_visualizer .visualizer_node {
    left:                 0px;
    width:              100vw;
}

.columns_visualizer {
    position:           fixed;
    top:                0px;
}

.columns_visualizer .visualizer_node {
    top:                  0px;
    height:             100vh;
}